
.banner{
    background-image: linear-gradient(
        to left,
        rgba(13, 13, 13, 0.7),
        rgba(4, 1, 31, 0.9)
      ), url('../../../assets/banner/banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}