
.banner{
    background-image: linear-gradient(
        to left,
        rgba(93, 92, 92, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('../../../assets/banner/banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}