@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.f-family-abril{
    font-family: 'Abril Fatface', cursive;
}

.text-linear{
    background: -webkit-linear-gradient(#77346e, #230125);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}